<div class="chat-header">
 <div class ="left_header">
  <div class="chat_name">
    まごころを君に
  </div>
 </div>
 <div class ="right_header">
   <div class ="endroom">
     <a href ="#">チャットを終了する</a>
    </div>
   </div>
</div>

<div class="messages">
  <div class ="message">
    <div class="uptext">
      <div class =user_name>
      渚カヲル
      </div>
    <div class ="datetime">
     2020/3/13(wed) 0:00:00
    </div>
  </div>
   <div class="undertext">
     <div class ="message_content">
     時が来たね
     </div>
   </div>
</div>

  <div class ="message">
    <div class="uptext">
      <div class =user_name>
      渚カヲル
      </div>
    <div class ="datetime">
     2020/3/13(wed) 0:00:00
    </div>
  </div>

   <div class="undertext">
     <div class ="message_content">
     そんな顔しないで…また逢えるよ。シンジ君
     </div>
   </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="text_form">
    <%= f.text_field :content, class: 'message_form', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="form_imagee">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>