<div class="side-bar-header">
  <div class ="name">
   <!-- <a href ="/">渚カヲル</a> -->
   <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class ="create_room">
  <%= link_to 'チャットを作成する', new_room_path %>
  <!--後でlink_toに変える -->
  </div>
</div>

<div class="rooms">
 <div class ="room">
 <div class ="room_name">
 <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
 </div>
  </div>
  <div class ="room">
 <div class ="room_name">
 <a href="/">chatroom2</a>
 </div>
 </div>
</div>